body{
background-size: cover;
background-position: center;
text-align: center;
object-position: center;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#title_info{
    font-size: 30;
    font-weight: bolder;
    color: white;
}
#p_info{
    font-size: 16;
    font-weight: 900;
    color:white;
}
.btn_fan{
    size: 120;
    font-size: large;
}
#info{
    font-size: 16;
    font-weight: 900;
    color:white;
}